
<div class = "span10"> 
<h2>Get the button embed code</h2>

<dl>
<% for(var i=0;i<lists.length;i++){ %>
<% var list = lists[i]; %>

    <dt>List: <%=list.name%></dt>
<dd>

<% if (list.bad_merge_vars.length == 0){ %>
    <p>This list will work! =) </p> 


<br />

    <iframe src="<%=server.facebook_basepath%>/button?signup_prompt=Newsletter%20Signup%20through%20Facebook&u=<%=user_id%>&id=<%=list.id%>" width="170" height="23" frameBorder="0"></iframe>
    <br />
    
    <pre><%=escape("<iframe src='"+server.facebook_basepath+"/button?signup_prompt=Newsletter%20Signup%20through%20Facebook&u="+user_id+"&id="+list.id+"' width='170' height='23' frameBorder='0'></iframe>")%></pre>
    
<hr />
<% }else{ %>
<div class="compatibility">
<p> This list is not compatible with the simple signup button because of the following fields.</p>
<ul>
<% for (var j=0;j<list.bad_merge_vars.length;j++){ %>
    <%var bad_merge_var = list.bad_merge_vars[j]; %>
    <li>Field "<%=bad_merge_var.name%>" of type "<%=bad_merge_var.field_type%>"  is required and is not supportable with facebook data at this time. </li>
<% } %>
</ul>
</div>

<% } %>
</dd>
<%} %> 
</dl>
</div>
 

